a.active{
    background: transparent;
    box-shadow: 0px 0px 10px 5px #fa7d0025;
    color: #111111;
    position: relative;
}
a.active::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s ease;
}
a.active span{
    color: #111111;
}

 a.active:hover::before{
    background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
    color: #ffffff;
    width: 100%;
}
a.active:hover span{
    color: #ffffff;
}

/* ------------------------ Animação ------------------------ */

.title{
    display: flex;
    align-items: center;
}
.title span{
    position: relative;
    font-size: 110px;
    letter-spacing: -5.70px;
    font-weight: 800;
    text-align: center;
}
.title .span_1::after{
    content: "Develop.";
    position: absolute;
    font-size: 110px;
    letter-spacing: -5.70px;
    top: 0;
    left: 0;
    animation: pulse_color 2s ease-in-out infinite alternate;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
}

.title .span_2::after{
    content: "Preview.";
    position: absolute;
    font-size: 110px;
    letter-spacing: -5.70px;
    top: 0;
    left: 0;
    animation: pulse_color 2s ease-in-out infinite alternate;
    animation-delay: 3s;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(121, 40, 202), rgb(255, 0, 128));
}

.title .span_3::after{
    content: "ia.";
    position: absolute;
    font-size: 110px;
    letter-spacing: -5.70px;
    top: 0;
    left: 0;
    animation: pulse_color 2s ease-in-out infinite alternate;
    animation-delay: 6s;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(0, 124, 240), rgb(0, 223, 216));
}

@keyframes pulse_color {
    to{
        opacity: -1;
    }from{
        opacity: 1;
    }
}

@media (max-width: 1111px) {
    .title span{
        font-size: 80px;
    }
    .title .span_1::after{
        font-size: 80px;
    }
    .title .span_2::after{
        font-size: 80px;
    }
    .title .span_3::after{
        font-size: 80px;
    }
}
@media (max-width: 740px) {
    .title{
        flex-direction: column;
    }
    .title span{
        margin-top: -40px;
    }
    .title .span_1::after{
        top: 0;
        left: 0;
    }
    .title .span_2::after{
        top: 0;
        left: 0;
    }
    .title .span_3::after{
        top: 0;
        left: 0;
    }
}
@media (max-width: 490px) {
    .wrapper_buttons a{
        width: 100%;
    }
}

/* ------------------------ Animação ------------------------ */